* {box-sizing: border-box;}

body{
	margin: 0px;
	font-family: verdana;
	font-size: 12pt;
}

.container {
	display: flex;
	/*display: grid;*/
	justify-content: center;
	max-width: 100vw;
	border: 1px solid #000;
}

.container .parent{
	width: 60px;
	margin: 0px 15px;
	border: 1px solid rgb(0,95,105);
	border-radius: 3px;
	background-color: rgba(0,95,107);
}

.container .parent .p1{
	border: 1px solid rgb(0,75,105);
	border-radius: 3px;
	background-color: rgba(0,75,107,0.8);
}

.container .parent .item{
	align-item: center;
	margin: 5px;
	border: 1px solid rgb(0,95,105);
	border-radius: 3px;
	background-color: rgba(0,95,60,0.8);
}
