* {box-sizing: border-box;}

.grid-container {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 100px;
}

.grid-container .row .col-1{
  border: 1px solid rgb(0,95,105);
  border-radius: 3px;
  background-color: rgba(0,95,107,0.8);
}

.grid-container .row .col-2{
  border: 1px solid rgb(0,75,105);
  border-radius: 3px;
  background-color: rgba(0,75,107,0.8);
}

.grid-container .row .col-3{
  border: 1px solid rgb(25,65,456);
  border-radius: 3px;
  background-color: rgba(25,65,456,0.8);
}